In [1]:
# Import dependencies
import matplotlib as plt
import pandas as pd

In [ ]:
# Read Dataframe
tmdb_df = pd.read_csv('tmdb_df.csv')

# Convert "release_date" to datetime
tmdb_df['release_date'] = pd.to_datetime(tmdb_df['release_date'])

# Separate the genres to a list
tmdb_df['genres'] = tmdb_df['genres'].str.split(', ')

tmdb_df.head()

,Unnamed: 0,vote_average,vote_count,release_date,revenue,runtime,budget,imdb_id,popularity,genres,keywords,year,roi
0,1,8.417,32571,2014-11-05,701729206,169,165000000,tt0816692,140.241,"[Adventure, Drama, Science Fiction]","rescue, future, spacecraft, race against time,...",2014,4.25
1,5,7.606,28894,2016-02-09,783100000,108,58000000,tt1431045,72.735,"[Action, Adventure, Comedy]","superhero, anti hero, mercenary, based on comi...",2016,13.50
2,6,8.255,27713,2018-04-25,2052415039,149,300000000,tt4154756,154.340,"[Adventure, Action, Science Fiction]","sacrifice, magic, superhero, based on comic, s...",2018,6.84
3,8,7.906,26638,2014-07-30,772776600,121,170000000,tt2015381,33.255,"[Action, Science Fiction, Adventure]","spacecraft, based on comic, space, orphan, adv...",2014,4.55
4,15,8.263,23857,2019-04-24,2800000000,181,356000000,tt4154796,91.756,"[Adventure, Science Fiction, Action]","superhero, time travel, space travel, time mac...",2019,7.87

In [ ]:
# Prep data for analysis
# Convert "release_date" to datetime
tmdb_df['release_date'] = pd.to_datetime(tmdb_df['release_date'])

# Separate the genres to a list
tmdb_df['genres'] = tmdb_df['genres'].str.split(', ')