In [1]:
# Our primary dataset can be found at:
# https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies
# The file is over 500MB - too big for github!

In [2]:
# import dependencies
import pandas as pd
import requests
import os
from dotenv import load_dotenv
import json
import subprocess
import matplotlib as plt

In [3]:
# Read the csv and store as a dataframe
tmdb_full_df = pd.read_csv("D://tmdb_database/TMDB_movie_dataset_v11.csv")

# tmdb_full_df.head()
tmdb_full_df.dtypes
# print(tmdb_full_df.columns.unique())

id                        int64
title                    object
vote_average            float64
vote_count                int64
status                   object
release_date             object
revenue                   int64
runtime                   int64
adult                      bool
backdrop_path            object
budget                    int64
homepage                 object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity              float64
poster_path              object
tagline                  object
genres                   object
production_companies     object
production_countries     object
spoken_languages         object
keywords                 object
dtype: object

In [4]:
# Select the columns required
tmdb_df = tmdb_full_df[['vote_average',
                        'vote_count',
                        'release_date',
                        'revenue',
                        'runtime',
                        'budget',
                        'imdb_id',
                        #'overview',
                        'popularity',
                        #'tagline',
                        'genres',
                        #'production_companies',
                        #'spoken_languages',
                        'keywords']]
tmdb_df.shape

(1144627, 10)

In [5]:
tmdb_df = tmdb_df.dropna()
tmdb_df.shape

(184524, 10)

In [6]:
# Initial cleanup to reduce dataframe size for github.

# Convert "release_date" to datetime
tmdb_df['release_date'] = pd.to_datetime(tmdb_df['release_date'])

# Sort for our target timeframe
start_time = '2013-01-01'
end_time = '2023-12-31'

tmdb_df = tmdb_df[(tmdb_df['release_date'] >= start_time) & (tmdb_df['release_date'] <= end_time)]
tmdb_df.shape

(64432, 10)

In [9]:
# Create a year column
tmdb_df['year'] = tmdb_df['release_date'].dt.year

# add ROI column
tmdb_df['roi'] = round((tmdb_df['revenue'] / tmdb_df['budget']), 2)

tmdb_df.head()

,vote_average,vote_count,release_date,revenue,runtime,budget,imdb_id,popularity,genres,keywords,year,roi
1,8.417,32571,2014-11-05,701729206,169,165000000,tt0816692,140.241,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",2014,4.25
5,7.606,28894,2016-02-09,783100000,108,58000000,tt1431045,72.735,"Action, Adventure, Comedy","superhero, anti hero, mercenary, based on comi...",2016,13.50
6,8.255,27713,2018-04-25,2052415039,149,300000000,tt4154756,154.340,"Adventure, Action, Science Fiction","sacrifice, magic, superhero, based on comic, s...",2018,6.84
8,7.906,26638,2014-07-30,772776600,121,170000000,tt2015381,33.255,"Action, Science Fiction, Adventure","spacecraft, based on comic, space, orphan, adv...",2014,4.55
15,8.263,23857,2019-04-24,2800000000,181,356000000,tt4154796,91.756,"Adventure, Science Fiction, Action","superhero, time travel, space travel, time mac...",2019,7.87

In [10]:
# Saving data to .csv
tmdb_df.to_csv('tmdb_df.csv')